#inventoryNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
  }
  #inventoryNav .navbar-brand {
    color: #fff;
  }
  #inventoryNav .navbar-nav {
    margin-top: 1rem;
  }
  #inventoryNav .navbar-nav li.nav-item a.nav-link {
    color: #fff;
  }
  #inventoryNav .navbar-nav li.nav-item a.nav-link:hover {
    color: #1abc9c;
  }
  #inventoryNav .navbar-nav li.nav-item a.nav-link:active, #inventoryNav .navbar-nav li.nav-item a.nav-link:focus {
    color: #fff;
  }
  #inventoryNav .navbar-nav li.nav-item a.nav-link.active {
    color: #1abc9c;
  }
  #inventoryNav .navbar-toggler {
    font-size: 80%;
    padding: 0.8rem;
  }
  
  @media (min-width: 992px) {
    #inventoryNav {
      padding-top: 0.8rem;
      padding-bottom: 0.8rem;
      transition: padding-top 0.3s, padding-bottom 0.3s;
    }
    #inventoryNav .navbar-brand {
      font-size: 1.75em;
      transition: font-size 0.3s;
    }
    #inventoryNav .navbar-nav {
      margin-top: 0;
    }
    #inventoryNav .navbar-nav > li.nav-item > a.nav-link.active {
      color: #fff;
      background: #1abc9c;
    }
    #inventoryNav .navbar-nav > li.nav-item > a.nav-link.active:active, #inventoryNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #inventoryNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
      color: #fff;
      background: #1abc9c;
    }
  
    #inventoryNav.navbar-shrink {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
    #inventoryNav.navbar-shrink .navbar-brand {
      font-size: 1.5em;
    }
  }

.dropdown-menu{
  position: fixed;
  right: 0;
  left: auto;
  margin: 0.2rem;
  background-color: black;
}

.dropdown-item{
  color: teal;
}



#d3, #d4, #d5 {
  display: none;
}


.btn-teal{
  color: white;
  background-color: teal;
}



/* Remove margins and padding from the list */
ul#newListUL {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Style the list items */
ul#newListUL li#newListLI {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  text-align: left;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul#newListUL li#newListLI:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul#newListUL li#newListLI:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul#newListUL input#price li#newListLI.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul#newListUL li#newListLI.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: teal;
  color: white;
}

#headerNewLists {
  background-color: teal;
  padding: 20px 30px;
  color: white;
  text-align: center;

}

#inventoryMasthead{
  padding-top: calc(6rem + 10px);
}
#headerLists {
  background-color: teal;
  padding: 20px;
  padding-bottom: 10px;
  color: white;
  text-align: center;
  width: 100%;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input{
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

#listName{
  background-color: transparent;
  margin-bottom: 0.5rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  line-height: 1.2;
  color: white;
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}

.material-icons{
  vertical-align: bottom;
}

#save{
  color: whitesmoke;
}

#new_icon{
  color: #1abc9c;
}

.masthead {
  padding-top: calc(6rem + 74px);
  padding-bottom: 6rem;
}
.masthead .masthead-heading {
  font-size: 2.75rem;
  line-height: 2.75rem;
}
.masthead .masthead-subheading {
  font-size: 1.25rem;
}
.masthead .masthead-avatar {
  width: 15rem;
}

@media (min-width: 992px) {
  .masthead {
    padding-top: calc(6rem + 104px);
    padding-bottom: 6rem;
  }
  .masthead .masthead-heading {
    font-size: 4rem;
    line-height: 3.5rem;
  }
  .masthead .masthead-subheading {
    font-size: 1.5rem;
  }
}

#button1{
  padding: 20px;
  font-size: 40px;
  background-color: whitesmoke;
}


#button2{
  padding: 20px;
  font-size: 40px;
  background-color: whitesmoke;
}

#new_icon,#duplicate_icon{
  font-size: 50px;
  color: #1abc9c;
}

#new_icon,#duplicate_icon2{
  color: #1abc9c;
}


#button1:hover{
  color: whitesmoke;
  background-color: black;
}

#button2:hover{
  color: whitesmoke;
  background-color: black;
}

#previousListsUL {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#previousListsUL #previousListsLI {
  cursor: pointer;
  position: relative;
  padding: 8px 4px 8px 20px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  text-align: left;
}


#previousListsUL #previousListsLI:nth-child(odd) {
  background: #f9f9f9;
}


#previousListsUL #previousListsLI:hover {
  background: #ddd;
}

.copyright{
  position: fixed;
}